<%= link_to @article_item.link do %>

<%= image_tag @article_item.image %>

<h1><%= @article_item.title %></h1>
<% end %>
<div class="site"><%= @article_item.site %></div>

<%= link_to @article_item.link do %>
  続き読む
<% end %>