<div class="page-content">
  <div class="breadcrumbs">
    <%= link_to root_path, class: "link" do %>
      <img src="/back-arrow.png">
      <div class="label">総合トップ</div>
    <% end %>
  </div>

  <div class="news-summary">
    <div class="news-container">
      <div class="content-area">
        <%= link_to @article_item.link do %>
          <%= image_tag @article_item.image, class: "news-image" %>
        <% end %>

        <div class="news-area">
          <h1 class="news-title content-area">
            <%= link_to @article_item.link do %>
              <%= @article_item.title %>
            <% end %>
          </h1>
          <div class="site"><%= @article_item.site %></div>
          
          <%= link_to @article_item.link, class: "read-more" do %>
            続きを読む
          <% end %>
        </div>
      </div>
    </div>

    <div class="news-comment">
      <%= render 'comments/comments_form' %>

      <%= render @article.comments %>
    </div>

  </div>

</div>