<!DOCTYPE html>
<html>
  <head>
    <title>NewsPicksClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <!-- Content Body -->
    <div class="wrapper">
      <div class="pick-stream fixed-left"></div>
      <div class="page-content"></div>
      <div class="menu" style="display: none;"></div>
      <div class="header">
        <div class="hamburger-menu">
          <img src="/hamburger.png">
        </div>
        <div class="search-box-container">
          <div class="search-box">
            <img class="search-icon" src="/search_icon.png">
            <div class="search-wrapper">
              <input class="search" maxlength="200" type="text" id="global-search-box" placeholder="検索する" value="">
            </div>
          </div>
        </div>
      <a class="logo clear-index-cache" href="/"><img src="/newspicks_logo.png"></a>
      <div class="right-items">
        <div class="register-or-login-items">
          <div class="register" onclick="toggle_visibility('modal')">アカウント登録</div>
          <div class="login" onclick="toggle_visibility('modal')">ログイン</div>
        </div>
      </div>
    </div>
    <div class="notice alert-info"><%= notice %></div>
    <div class="alert alert-warning"><%= alert %></div>
    <!-- Modal Content -->
    <div class="modal" style="display: none;" onclick="close_visibility('modal')">
      <div class="background" />
      <div class="modal-content-wrapper">
        <div class="modal-content dialog">
          <img class="close-btn" src="/close.png">
        </div>
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag 'menu_items' %>
  </body>
</html>
